.TypeCompareTd {
    vertical-align: middle;

    input {
        width: 50px;
        border-radius: 5px;
        border: 1px solid #ccc;
        text-align: center;
    }
}

.tablefreeze {
    table-layout: fixed;
    /*width: 200px;*/ /* 固定寬度 */
    thead tr th {
        position: sticky;
        top: 0; /* 列首永遠固定於上 */
    }

    th:first-child {
        z-index: 2;
    }

    th {
        background-color: white;
    }

    td:first-child {
        position: sticky;
        left: 0; /* 首行永遠固定於左 */

        z-index: 1;
    }
}

.FontRed {
    color: red;
}
