<div class="list-group list-group-flush">
    <a href="~/Pokemon/Detail" class="list-group-item list-group-item-primary">寶可夢清單</a>
    <a href="~/Pokemon/PokemonAdd" class="list-group-item list-group-item-success">新增寶可夢</a>
    <a href="~/Pokemon/PokemonType" class="list-group-item list-group-item-dark">新增屬性</a>
</div>